.container {
	max-width: 900px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 350px 1fr;
	gap: 20px;
	height: 400px;
}
.images_container {
	display: grid;
	grid-template-rows: 350px 50px;
	gap: 20px;
}
.container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.info {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
}
.price {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	align-items: center;
}
.price button {
	padding: 5px;
	background-color: transparent;
	border: 2px solid black;
}
.price_block {
	display: flex;
	gap: 10px;
}

.images_block {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 50px;
	gap: 20px;
}

.images_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 2px solid gray;
	cursor: pointer;
}
.images_block .active {
	border-color: transparent;
	border-radius: 2px;
	/* border-color: brown; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transform: scale(1.2);
}
