.nav {
	height: 50px;
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	background-color: #34495e;
}

.nav a {
	padding: 5px 10px;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

.nav .active {
	border: 2px solid rgb(189, 69, 69);
}
